.root {
  color: #000;
  background-color: #fff;
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #000;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
}
