body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #16181b;
    width: 680px;
    --jle-accent: #ec5000;
    --jle-gray: #79747e;
    --jle-success: #0c8a17;
    --jle-input-border: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #e3e3e3;
        background: #2a2a2a;
    }
}



.container{
    padding: 0 12px;
}



.form__title{
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding: 16px 0 0;
    margin: 0;
}

.form__item{
    padding: 8px 0;
}

.form__item--checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__item-label{
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

.form__item-input{
    width: 100%;
    line-height: 20px;
    padding: 12px 16px;
    border: 1px solid var(--jle-input-border);
    border-radius: 4px;
    outline:none;
    box-sizing: border-box;
}

.form__status {
    position: absolute;
    color: var(--jle-success);
}



.btn__save{
    background-color: var(--jle-accent);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.btn__save-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 12px;
}



.powered__text {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    opacity: 0.7;
}

.powered__img {
    margin-bottom: -4px;
    opacity: 0.7;
}

.powered__link:hover .powered__img {
    opacity: 1;
}



.checkbox__btn {
    display: none;
}

.checkbox__btn+.lb1, .checkbox__btn+.lb1::before, .checkbox__btn+.lb1::after {
    transition: all .3s;
}

.checkbox__btn+.lb1 {
    display: inline-block;
    position: relative;
    width: 52px;
    height: 24px;
    border-radius: 100px;
    cursor: pointer;
}

.checkbox__btn+.lb1::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    width: 14px;
    height: 14px;
    background-color: var(--jle-gray);
}

.checkbox__btn:checked+.lb1::after {
    left: 30px;
    background-color: #f7f7f7;
    width: 20px;
    height: 20px;
}

.checkbox__btn+.lb1 {
    background-color: white;
    border: 2px solid var(--jle-gray);
}

.checkbox__btn:checked+.lb1 {
    background-color: var(--jle-accent);
    border-color: transparent;
}

.checkbox__btn:checked+.lb1::before {
    color: white;
}
