.save {
  background-color: var(--jle-accent);
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 12px;
  position: sticky;
  bottom: 0;
  background-color: var(--jle-options-background);
}

.text {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  opacity: 0.7;
}

.link {
  img {
    margin-bottom: -4px;
    opacity: 0.7;
  }

  &:hover .img {
    opacity: 1;
  }
}
