.root {
  padding: 0 0 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--jle-text-color);
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
  font-style: normal;
  font-weight: 700;

  border-bottom: 1px solid var(--jle-border-color);
}

.right {
  display: flex;
  flex-direction: row;
}
